# pandas로 데이터 가공하기

In [18]:
import pandas as pd
pandas.__version__
import numpy as np

# Series

In [27]:
data=pd.Series([0.25,0.5,0.75,1.0])#범위와 value
print(data)
print(data.values)
print(data.index)
print(data[0:2])

0    0.25
1    0.50
2    0.75
3    1.00
dtype: float64
[0.25 0.5  0.75 1.  ]
RangeIndex(start=0, stop=4, step=1)
0    0.25
1    0.50
dtype: float64

In [31]:
data=pd.Series([0.25,0.5,0.75,1.0],index=['a','b','c','d'])
print(data)
print(data['b'])

a    0.25
b    0.50
c    0.75
d    1.00
dtype: float64
0.5

## series 딕셔너리 구조

In [32]:
population_dict={'California':38332521,
                'Texas':26448393,
                'New York':19651127,
                'Florida':9552860,
                'llinois':12882135}
population=pd.Series(population_dict)
population

California    38332521
Texas         26448393
New York      19651127
Florida        9552860
llinois       12882135
dtype: int64

In [33]:
population['California': 'Florida']

California    38332521
Texas         26448393
New York      19651127
Florida        9552860
dtype: int64

## Series 구성하기

In [37]:
#pd.Series(data,index=index)
pd.Series([2,4,6])
pd.Series(5,index=[100,200,300])
pd.Series({2:'a',1:'b',3:'c'}, index=[3,2])

3    c
2    a
dtype: object

# DataFrame

In [76]:
area_dict={'California':4239,
                'Texas':6955,
                'New York':19651127,
                'Florida':95230,
                'llinois':135}
area=pd.Series(area_dict)

In [78]:
states=pd.DataFrame({'population':population,
                   'area':area})
states

            population      area
California    38332521      4239
Texas         26448393      6955
New York      19651127  19651127
Florida        9552860     95230
llinois       12882135       135

In [79]:
print(pd.DataFrame(population,columns=['population']))
print(pd.DataFrame(population,index=['Texas'],columns=['population']))

            population
California    38332521
Texas         26448393
New York      19651127
Florida        9552860
llinois       12882135
       population
Texas    26448393

In [83]:
print(states.area)
states['area']

California        4239
Texas             6955
New York      19651127
Florida          95230
llinois            135
Name: area, dtype: int64

California        4239
Texas             6955
New York      19651127
Florida          95230
llinois            135
Name: area, dtype: int64

In [85]:
states['desity']=states['population']/states['area']

In [89]:
print(states.values[0])
states.values

[3.83325210e+07 4.23900000e+03 9.04282166e+03]

array([[3.83325210e+07, 4.23900000e+03, 9.04282166e+03],
       [2.64483930e+07, 6.95500000e+03, 3.80278835e+03],
       [1.96511270e+07, 1.96511270e+07, 1.00000000e+00],
       [9.55286000e+06, 9.52300000e+04, 1.00313557e+02],
       [1.28821350e+07, 1.35000000e+02, 9.54232222e+04]])

In [88]:
states.T

              California         Texas    New York       Florida       llinois
population  3.833252e+07  2.644839e+07  19651127.0  9.552860e+06  1.288214e+07
area        4.239000e+03  6.955000e+03  19651127.0  9.523000e+04  1.350000e+02
desity      9.042822e+03  3.802788e+03         1.0  1.003136e+02  9.542322e+04

In [90]:
states.iloc[:3,:2]

            population      area
California    38332521      4239
Texas         26448393      6955
New York      19651127  19651127

In [91]:
states.loc[:,:'area']

            population      area
California    38332521      4239
Texas         26448393      6955
New York      19651127  19651127
Florida        9552860     95230
llinois       12882135       135

In [54]:
pd.DataFrame([{'a':1,'b':2},{'b':3,'c':4}])
pd.DataFrame(np.random.rand(3,2),columns=['foo','bar'],index=['a','b','c'])

     a  b    c
0  1.0  2  NaN
1  NaN  3  4.0

## DataFrame와 숫자연산

In [99]:
korean=pd.Series({'s1':96,'s2':80,'s3':96})
english=pd.Series({'s1':94,'s2':100,'s3':88})
math=pd.Series({'s1':90,'s2':83,'s3':92})
score=pd.DataFrame({'kor':korean,'eng':english,'mat':math})
score/100

     kor   eng   mat
s1  0.96  0.94  0.90
s2  0.80  1.00  0.83
s3  0.96  0.88  0.92

In [100]:
score1=score+np.random.randint(-10,10)
score2=score+np.random.randint(-10,10)

In [103]:
sum_score=score1+score2
music=pd.Series({'s1':96,'s2':98,'s3':85})
score1['mus']=music
sum_score=score1+score2
sum_score

    eng  kor  mat  mus
s1  183  187  175  NaN
s2  195  155  161  NaN
s3  171  187  179  NaN

# index 객체

In [57]:
ind=pd.Index([2,3,5,7,11])
ind

Int64Index([2, 3, 5, 7, 11], dtype='int64')

In [60]:
ind[::2]
print(ind.size,ind.shape,ind.ndim,ind.dtype)

5 (5,) 1 int64

In [70]:
indA=pd.Index([1,3,5,7,9])
indB=pd.Index([2,3,5,7,11])
print(indA & indB)#교집합
print(indA | indB)#합집합
print(indA ^ indB)#대칭 차

Int64Index([3, 5, 7], dtype='int64')
Int64Index([1, 2, 3, 5, 7, 9, 11], dtype='int64')
Int64Index([1, 2, 9, 11], dtype='int64')

## 인덱스 loc(인덱스_이름)vsiloc(정수형 위치 인덱스)

In [71]:
data=pd.Series([0.25,0.5,0.75,1.0],index=['a','b','c','d'])
data

a    0.25
b    0.50
c    0.75
d    1.00
dtype: float64

In [73]:
print(data.loc['a':'c'])
data.loc['a']
data.iloc[1]
data.iloc[1:3]

a    0.25
b    0.50
c    0.75
dtype: float64

b    0.50
c    0.75
dtype: float64

## Series와 숫자 연산

In [93]:
student= pd.Series({'국어':96,'영어':90,'수학':80})
p_student= student / 100
p_student

국어    0.96
영어    0.90
수학    0.80
dtype: float64

In [94]:
student1= pd.Series({'국어':96,'영어':90,'수학':80})
student2= pd.Series({'국어':86,'영어':100,'수학':94})
avg_student=(student1+student2)/2
avg_student

국어    91.0
영어    95.0
수학    87.0
dtype: float64

In [96]:
student1= pd.Series({'국어':96,'영어':90,'수학':80})
student2= pd.Series({'영어':100,'국어':86,'수학':94})
sum_student=student1.add(student2,fill_value=0)#sum_student=student1+student2
sum_student

국어    182
수학    174
영어    190
dtype: int64

In [16]:
arr=(['짜장면','해물짱면'])
word="짜장면 짬뽕 치킨 연습짜장 오징어 피자"
a=word.split(' ')
print(a)
for i in range(len(a)):
    if a[i] in arr:
        print(a[i])
        word=word.replace(a[i],'')

['짜장면', '짬뽕', '치킨', '연습짜장', '오징어', '피자']
짜장면