In [ ]:
#iris데이터에서 결측치를 인위적으로 random하게 
# 열마다 20개씩 결측치를 할당한 후 평균값으로 결측치 대치

In [2]:
import numpy as np
import pandas as pd
import statsmodels.api as sm

In [130]:
iris_df = sm.datasets.get_rdataset('iris',package='datasets').data #iris데이터를 불러드렸습니다.
iris_df.sample()

    Sepal.Length  Sepal.Width  Petal.Length  Petal.Width     Species
84           5.4          3.0           4.5          1.5  versicolor

In [120]:
# iris데이터에서 결측치를 인위적으로 random하게 열 마다 20씩 결측치를 할당

In [131]:
for a in range(4):
    print(a,end=' /')
    print(random.sample(range(150),20))

0 /[148, 103, 134, 44, 91, 61, 79, 30, 97, 144, 137, 108, 124, 49, 27, 42, 86, 75, 89, 141]
1 /[48, 101, 135, 107, 44, 87, 132, 7, 40, 41, 131, 78, 96, 8, 92, 3, 99, 28, 123, 140]
2 /[1, 131, 139, 117, 133, 22, 30, 126, 93, 35, 138, 28, 148, 91, 103, 2, 89, 77, 5, 95]
3 /[95, 142, 33, 105, 148, 132, 122, 97, 12, 47, 129, 123, 65, 39, 69, 138, 32, 106, 16, 147]

In [132]:
iris_df.shape[1]-1 #열의 갯수=4
len(iris_df) #150

150

In [133]:
import random 
for a in range(iris_df.shape[1]-1):
    x = random.sample(range(len(iris_df)),20)
    iris_df.iloc[x,a]=None

In [134]:
pd.isnull(iris_df).sum(axis=0) #결측치 확인

Sepal.Length    20
Sepal.Width     20
Petal.Length    20
Petal.Width     20
Species          0
dtype: int64

In [136]:
iris_df['Sepal.Length'].isnull()

0      False
1      False
2      False
3      False
4      False
       ...
145    False
146    False
147     True
148    False
149    False
Name: Sepal.Length, Length: 150, dtype: bool

In [135]:
iris_df[iris_df['Sepal.Length'].isnull()]

     Sepal.Length  Sepal.Width  Petal.Length  Petal.Width     Species
18            NaN          3.8           1.7          0.3      setosa
19            NaN          3.8           1.5          NaN      setosa
27            NaN          NaN           1.5          0.2      setosa
29            NaN          NaN           1.6          0.2      setosa
35            NaN          NaN           1.2          0.2      setosa
47            NaN          NaN           NaN          0.2      setosa
66            NaN          3.0           NaN          1.5  versicolor
67            NaN          2.7           4.1          1.0  versicolor
69            NaN          2.5           3.9          1.1  versicolor
72            NaN          2.5           4.9          1.5  versicolor
75            NaN          3.0           4.4          1.4  versicolor
98            NaN          2.5           3.0          1.1  versicolor
103           NaN          2.9           5.6          1.8   virginica
106           NaN          2.5           4.5          1.7   virginica
115           NaN          3.2           5.3          2.3   virginica
116           NaN          3.0           5.5          1.8   virginica
118           NaN          2.6           6.9          2.3   virginica
132           NaN          2.8           5.6          2.2   virginica
137           NaN          NaN           5.5          1.8   virginica
147           NaN          3.0           5.2          2.0   virginica

In [105]:
iris_df.mean() #iris_df 열평균데이터!

Sepal.Length    5.883077
Sepal.Width     3.055385
Petal.Length    3.713846
Petal.Width     1.210769
dtype: float64

In [106]:
iris_df.fillna(value=iris_df.mean(),inplace=True)

In [107]:
pd.isnull(iris_df).sum(axis=0) #결측치 확인

Sepal.Length    0
Sepal.Width     0
Petal.Length    0
Petal.Width     0
Species         0
dtype: int64

In [109]:
iris_df.head().round()

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
0           5.0          4.0           1.0          0.0  setosa
1           5.0          3.0           1.0          0.0  setosa
2           5.0          3.0           1.0          0.0  setosa
3           5.0          3.0           2.0          1.0  setosa
4           5.0          4.0           1.0          1.0  setosa

# 연습문제 - 실습!

In [110]:
import seaborn as sns
iris=sns.load_dataset("iris")
type(iris)

pandas.core.frame.DataFrame

In [111]:
#iris 데이터에서 처음 다섯개 행만 출력하세요! 
iris.head()
iris.loc[:5]
iris.iloc[:5]
iris[:5]

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [229]:
# iris 데이터를 독립변수 x와 종속변수 y로 나누세요. 종속변수는 species열입니다.
x_data=iris.iloc[:,0:4] #독립변수
y_data=iris.iloc[:,-1] #종속변수
#y_data=iris.loc[:,'species'].to_frame() 데이터 프레임으로 바꾸고 싶을떄~ !
y_data.head()

0    setosa
1    setosa
2    setosa
3    setosa
4    setosa
Name: species, dtype: object

In [138]:
#3. iris데이터에서 처음 50개행을 빼내서 temp 변수에 저장하시오
iris.head(50)
temp=iris.iloc[0:50]

In [231]:
#4. temp의 요약정보 
temp.describe()
temp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  50 non-null     float64
 1   sepal_width   50 non-null     float64
 2   petal_length  50 non-null     float64
 3   petal_width   50 non-null     float64
 4   species       50 non-null     object
dtypes: float64(4), object(1)
memory usage: 2.1+ KB

In [144]:
iris.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [162]:
#5. versicolor 만
iris[iris['species']=='versicolor'].head()
iris.loc[iris.species=='virginica'].head()

    sepal_length  sepal_width  petal_length  petal_width     species
50           7.0          3.2           4.7          1.4  versicolor
51           6.4          3.2           4.5          1.5  versicolor
52           6.9          3.1           4.9          1.5  versicolor
53           5.5          2.3           4.0          1.3  versicolor
54           6.5          2.8           4.6          1.5  versicolor

In [230]:
#6번  concat 으로 잠시 보류
x_data.head()
y_data.head()
iris1=pd.concat([x_data,y_data],axis=1)
iris1.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [178]:
#7 iris데이터의 각 열 평균값을 출력하세요
iris.mean(axis=0)

sepal_length    5.843333
sepal_width     3.057333
petal_length    3.758000
petal_width     1.199333
dtype: float64

In [180]:
#8 iris데이터의 각 열들 사이의 상관계수
iris.corr()

              sepal_length  sepal_width  petal_length  petal_width
sepal_length      1.000000    -0.117570      0.871754     0.817941
sepal_width      -0.117570     1.000000     -0.428440    -0.366126
petal_length      0.871754    -0.428440      1.000000     0.962865
petal_width       0.817941    -0.366126      0.962865     1.000000

In [190]:
#9 iris데이터에서 각 요소들과 변수별 평균과의 차이를 출력하세요. 
#변수별 평균 =열의 평균 
import numpy as np
avg=iris.iloc[:,0:4].apply(np.average)
iris.iloc[:,0:4].apply(lambda x:x-avg,axis=1)# 열단위로 삭제

     sepal_length  sepal_width  petal_length  petal_width
0       -0.743333     0.442667        -2.358    -0.999333
1       -0.943333    -0.057333        -2.358    -0.999333
2       -1.143333     0.142667        -2.458    -0.999333
3       -1.243333     0.042667        -2.258    -0.999333
4       -0.843333     0.542667        -2.358    -0.999333
..            ...          ...           ...          ...
145      0.856667    -0.057333         1.442     1.100667
146      0.456667    -0.557333         1.242     0.700667
147      0.656667    -0.057333         1.442     0.800667
148      0.356667     0.342667         1.642     1.100667
149      0.056667    -0.057333         1.342     0.600667

[150 rows x 4 columns]

In [225]:
type(iris.groupby('species'))

pandas.core.groupby.generic.DataFrameGroupBy

In [204]:
for grp, data in iris.groupby('species'):
    print(grp)

setosa
versicolor
virginica

In [233]:
iris.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [234]:
#10 iris 데이터 종별 평균의 출력하세요.
iris_group_mean=iris.groupby(iris.species).mean()
iris_group_mean.loc['setosa',:]
iris_group_mean.index

Index(['setosa', 'versicolor', 'virginica'], dtype='object', name='species')

In [235]:
#11 iris 데이터에서 각 요소들과 종별 변수의 평균과의 차이를 출력하세요. 각종별로 3개씩 출력하세요.
avg2=iris.groupby(iris.species).mean()
result=iris.apply(lambda x:x-avg2.loc[x.species,:],axis=1)

In [239]:
t = result.groupby(iris.species).take(range(3))
t.index = [0,1,2,50,51,52,100,101,102]
t

     petal_length  petal_width  sepal_length  sepal_width  species
0          -0.062       -0.046         0.094        0.072      NaN
1          -0.062       -0.046        -0.106       -0.428      NaN
2          -0.162       -0.046        -0.306       -0.228      NaN
50          0.440        0.074         1.064        0.430      NaN
51          0.240        0.174         0.464        0.430      NaN
52          0.640        0.174         0.964        0.330      NaN
100         0.448        0.474        -0.288        0.326      NaN
101        -0.452       -0.126        -0.788       -0.274      NaN
102         0.348        0.074         0.512        0.026      NaN