<font size='5' color='red'>ch03.데이터구조

# 1절.리스트

## 1.1 리스트 만들기
    -[]를 이용해서 만들며, 여러개 값을 하나의 변수에 저장/ 관리할 수 있음
    -인덱스: 각 요소의 위치. 인덱스는 0부터 시작.맨 마지막 인덱스는 -1 
    -슬라이싱: 부분 데이터셋을 뽑아 내는 것. 인덱스를 이용해서 쓰기와 읽기를 지원

In [1]:
fruits=['banana','apple','orange','grape']
type(fruits)

list

In [26]:
print(fruits)

['banana', 'apple', 'orange', 'grape']

In [27]:
print(fruits[0])

banana

In [3]:
for fruit in fruits : 
    print(fruit)

banana
apple
orange
grape

In [6]:
#range(from, to ,by); from부터 to바로 앞까지 by씩 증가되면서 만들어진 list 
        #from 생략시 0시부터 by생략시 1씩 
list(range(6))

[0, 1, 2, 3, 4, 5]

In [7]:
list(range(0,10,2))

[0, 2, 4, 6, 8]

In [8]:
list(range(10,-1,-2))

[10, 8, 6, 4, 2, 0]

In [17]:
for i in range(5):
    print(i,end='\t')

0	1	2	3	4

In [11]:
# 0번쨰 : banana... len(fruits):fruits 요소의 갯수
for idx in range(len(fruits)):
    print('{}번쨰: {}'.format(idx,fruits[idx]))

0번쨰: banana
1번쨰: apple
2번쨰: orange
3번쨰: grape

In [12]:
numbers= [1,2,3,True,'5']

In [13]:
numbers

[1, 2, 3, True, '5']

In [29]:
numbers_2d =[[1,2,3,4,5],
            [10,20,30,40,50],
            [1,3,5,7,9],
            [2,4,6,8,10]] #리스트안에 리스트를 안에 넣는 구조 
print(number_2d)

NameError: name 'number_2d' is not defined

In [53]:
numbers_2d[1][0]

10

In [33]:
for row in numbers_2d:
    for date in row:
        #print(date+'\t')
        print(date,end='\t')
    print()

1	2	3	4	5
10	20	30	40	50
1	3	5	7	9
2	4	6	8	10

In [36]:
print('하이'+'\t'+'안녕하세요')

하이	안녕하세요

In [54]:
numbers_2d =[[1,2,3,4,5],
            [10,20,30,40,50],
            [1,3,5,7,9],
            [2,4,6,8,10]]

for i in range(len(number_2d)): #len(numbers_2d)=4
    for j in range(len(number_2d[i])):
        print("{}행,{}열:{:>2}".format(i,j,number_2d[i][j]),end='\t')
    print()

0행,0열: 1	0행,1열: 2	0행,2열: 3	0행,3열: 4	0행,4열: 5
1행,0열:10	1행,1열:20	1행,2열:30	1행,3열:40	1행,4열:50
2행,0열: 1	2행,1열: 3	2행,2열: 5	2행,3열: 7	2행,4열: 9
3행,0열: 2	3행,1열: 4	3행,2열: 6	3행,3열: 8	3행,4열:10

## 1.2 기본 정보 조회

In [1]:
numbers= [1,2,3,4,5]
numbers_2d =[[1,2,3,4,5],
            [10,20,30,40,50],
            [1,3,5,7,9],
            [2,4,6,8,10]]

In [56]:
del numbers

In [3]:
#요소 수 
print('numbers의 요소수:',len(numbers))
print('numbers_2d의 요소수',len(numbers_2d))

numbers의 요소수: 5
numbers_2d의 요소수 4

In [4]:
print('numbers_2d[0]의 요소수',len(numbers_2d[0]))

numbers_2d[0]의 요소수 5

In [5]:
# 최소값 min, 최대값 max
min(numbers), max(numbers)

(1, 5)

In [6]:
#2차원 리스트에서는 max()함수는 부분 리스트중 첫 요소가 가장 큰 값을 갖는 리스트를 반환
#                    min()함수는 부분 리스트중 첫 요소가 가장 작은 값을 갖는 리스트를 반환 
min(numbers_2d),max(numbers_2d)

([1, 2, 3, 4, 5], [10, 20, 30, 40, 50])

In [ ]:
# 요소 추가

In [ ]:
# + 두리스트를 연결
# * 리스트를 곱한 수 만큼 반복
# append() 요소를 맨뒤에 추가
# extend() 리스트를 요소별로 맨 뒤에 추가
# insert() 지정된 index 위치에 삽입

In [7]:
numbers= [1,2,3,4,5]
numbers=numbers+numbers #리스트연결
numbers

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

In [8]:
numbers=[1,2,3]
print(numbers * 3)

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [9]:
print('ABC'*3)

ABCABCABC

In [10]:
#append() 함수 이용
numbers=[1,2,3]
numbers.append(4)#요소의 맨 뒤에 추가 
numbers

[1, 2, 3, 4]

In [12]:
#extend()
numbers=[1,2,3]
num =[4,5,6]
numbers.extend(num)
numbers

[1, 2, 3, 4, 5, 6]

In [14]:
numbers.extend('Hello')
numbers

[1, 2, 3, 4, 5, 6, 'H', 'e', 'l', 'l', 'o', 'H', 'e', 'l', 'l', 'o']

In [16]:
#insert(idx,추가할내용):idx번쨰 인덱스에 추가할 내용 삽입
numbers=[1,2,3]
numbers.insert(1,'xx')
numbers

[1, 'xx', 2, 3]

## 1.4 인덱싱
    -count(): 리스트에서 데이터의 갯수 반환
    -index(): 해당 요소의 위치 반환
    -[index]: 인덱스를 이용한 접근

In [17]:
numbers=[1,2,3,[1,2,3],1,2,3]
numbers_2d=[[1,2,3],[1,2,3]]
print(numbers)
print(numbers_2d)

[1, 2, 3, [1, 2, 3], 1, 2, 3]
[[1, 2, 3], [1, 2, 3]]

In [ ]:
numbers.count(2)# 2가 몇개 있는지

In [ ]:
numbers.count(9)

In [18]:
numbers.count([1,2,3])

1

In [19]:
numbers_2d.count(2)

0

In [20]:
numbers_2d.count([1,2,3])

2

In [21]:
# 0번쨰 인덱스부터 처음 나오는 2의 인덱스
numbers.index(2)

1

In [ ]:
#4번쨰 인덱스 이후부터 처음 나오는 2의 인덱스 
numbers=[1,2,3,[1,2,3],1,2,3]
numbers.index(2,4)

In [24]:
print(numbers.count(9))
print(numbers.index(9))#index함수는 없는 값을 찾으면 에러

0

ValueError: 9 is not in list

In [26]:
len(numbers)
print(numbers[6])

3

## 1.5 원하는 리스트 내용만 추출; 리스트 슬라이싱

- [from:to:by] ; from부터 to 바로 앞까지 by번 증가하는 index아이템 추출
                 from,to,by 생략 가능
                 인덱스는 음수 가능

In [35]:
numbers=[1,2,3,4,5]

In [36]:
numbers[2:9]#2부터 9번 인덱스 바로 앞까지(해당 인덱스가 없을 경우 끝까지)

[3, 4, 5]

In [37]:
numbers[::-1]

[5, 4, 3, 2, 1]

In [38]:
numbers[::]

[1, 2, 3, 4, 5]

In [39]:
numbers[-5:-1]

[1, 2, 3, 4]

In [45]:
numbers[-1:-5]#-1부터 -5바로 전까지 by(1)씩 인덱스를 전지하며 액세스

[]

In [47]:
numbers_2d=[[1,2,3],[10,20,30],[11,12,13],[14,15,16]]

In [49]:
numbers_2d[0][1:3]

[2, 3]

In [ ]:
#람다식을 이용해서  list의 원하는 데이터 액세스

In [61]:
numbers=[1,3,5,9,10,12,13,18,19,20]
#모든 데이터 다 가져오기
#for data in numbers:
#   print(data)
[data for data in numbers]

[1, 3, 5, 9, 10, 12, 13, 18, 19, 20]

In [76]:
#짝수 데이터만 가져오기
for x in numbers:
    if x%2==0:
        print(x)
#[data for data in numbers if data%2==0]

10
12
18
20

In [67]:
#10이상의 데이터만 가져오기
[x for x in numbers if x>=10]

[10, 12, 13, 18, 19, 20]

In [80]:
#과일의 글씨가 5글자 이상인 과일만 추출
fruits = ['orange','apple','mango','kiwi']
[x for x in fruits if len(x)>=5]
#for x in fruits:
#    if len(x)>=5:
#            print(x)

['orange', 'apple', 'mango']

In [108]:
#리스트 값의 제곱을 추출하라
L=[1,2,3,4,5]
for x in L:
    print(x**L[1], end='\t')
[x**2 for x in L]

1	4	9	16	25

[1, 4, 9, 16, 25]

In [107]:
#리스트의 세제곱을 추출하라 
L=[1,2,3,4,5]
for x in L:
    print(x**L[2], end='\t')
[x**3 for x in L]

1	8	27	64	125

[1, 8, 27, 64, 125]

In [106]:
#리스트 값의 두배의 수를 추출하라
L=[1,2,3,4,5]
for x in L:
    print(x*2, end='\t')
[x*2 for x in L]

2	4	6	8	10

[2, 4, 6, 8, 10]

## 1.6 요소 수정하기

In [270]:
numbers=[0,1,2,3,4,5,6,7,8,9]
print(numbers)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [271]:
numbers[2]=222
numbers

[0, 1, 222, 3, 4, 5, 6, 7, 8, 9]

In [272]:
# 부분리스트를 통쨰로 바꿈(by없이 슬라이싱)
numbers[0:2]=[111,111,111,111,111] 
numbers

[111, 111, 111, 111, 111, 222, 3, 4, 5, 6, 7, 8, 9]

In [273]:
numbers=[0,1,2,3,4,5,6,7,8,9]
numbers[0:5]=numbers[5:]
numbers

[5, 6, 7, 8, 9, 5, 6, 7, 8, 9]

In [275]:
#슬라이싱에서 by를 추가 
numbers = [0]*10
print('수정전:',numbers)
numbers[::2]=[99,99,99,99,99]
print('수정후:',numbers)

수정전: [0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
수정후: [99, 0, 99, 0, 99, 0, 99, 0, 99, 0]

In [ ]:
#슬라이싱에서 by가 포함될 경우 바꾸려는 값의 갯수가 맞아야함 (즉 1:1맞춤)
numbers[::2]=[11,11,11]

## 1.7삭제하기
    -pop() : 가장 마지막 요소가 반환되고 삭제. pop(n): n번쨰 요소가 반환되고 삭제
    -remove() : remove(data)해당 데이터가 삭제
    -del() xx[n]

In [20]:
numbers=[0,1,2,3,4,5,6,7,8,9]
print(numbers)
print(numbers.pop())
print(numbers)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
9
[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [21]:
print(numbers.pop(2))#반환되고 인덱스 삭제 
print(numbers)

2
[0, 1, 3, 4, 5, 6, 7, 8]

In [22]:
numbers_2d=[[1,2,3],[10,20,30],[100,100,100]]
print('pop전',numbers_2d)
print(numbers_2d.pop())
print('pop후',numbers_2d)

pop전 [[1, 2, 3], [10, 20, 30], [100, 100, 100]]
[100, 100, 100]
pop후 [[1, 2, 3], [10, 20, 30]]

In [30]:
numbers = [0,1,3,4,5,6,7,8,9]
numbers.remove(5) #해당 데이터 삭제 / pop()과 다르게 반환 값이 없음
print(numbers)

[0, 1, 3, 4, 6, 7, 8, 9]

In [24]:
numbers.remove(99) #없는 값을 remove할 경우 error

ValueError: list.remove(x): x not in list

In [31]:
print(numbers)
del numbers[2] #변수삭제
print(numbers)

[0, 1, 3, 4, 6, 7, 8, 9]
[0, 1, 4, 6, 7, 8, 9]

In [32]:
del numbers
numbers

NameError: name 'numbers' is not defined

In [36]:
numbers=[0,1,2,3,4]
print('clear전:',numbers)
numbers.clear()
#del numbers[:]
print('clear후:',numbers)

clear전: [0, 1, 2, 3, 4]
clear후: []

## 1.8정렬하기

In [39]:
numbers = [9,5,1,0,6,4,2,8]
numbers.sort() # 기본 정렬 오름차순. sort()실행  후 리스트가 바뀜
numbers[::-1] # 내림차순처럼 보이나 numbers 내림차순으로 정렬된 것으로 저장되지 않았음

[9, 8, 6, 5, 4, 2, 1, 0]

In [41]:
numbers.sort(reverse=True)
numbers

[9, 8, 6, 5, 4, 2, 1, 0]

In [ ]:
numbers.reverse()#리스트를 역순으로 변경
numbers

In [ ]:
numbers=numbers[::-1]#reverse()함수와 같은 명령 
numbers

## 1.9 리스트 복제

In [45]:
numbers=[6,2,7,4,10]
new_numbers=numbers # 정렬전 데이터를 new_numbers 로 
numbers.sort() #numbers는 정렬된 데이터로 
print('정렬전 데이터',new_numbers)
print('정렬후 데이터',numbers)
print('new_numbers주소:',id(new_numbers))
print('numbers주소:',id(numbers))
# 복제 되지 않고 numbers와 new_numbers는 객체를 참조하기 떄문에 복제가 되지 않았음

정렬전 데이터 [2, 4, 6, 7, 10]
정렬후 데이터 [2, 4, 6, 7, 10]
new_numbers주소: 2429465131648
numbers주소: 2429465131648

In [46]:
#복제
numbers=[6,2,7,4,10]
new_numbers=numbers.copy() # new_number에 number데이터를 복제
numbers.sort() 
print('정렬전 데이터',new_numbers)
print('정렬후 데이터',numbers)
print('new_numbers주소:',id(new_numbers))
print('numbers주소:',id(numbers))

정렬전 데이터 [6, 2, 7, 4, 10]
정렬후 데이터 [2, 4, 6, 7, 10]
new_numbers주소: 2429465141632
numbers주소: 2429465141824

In [56]:
city=['서울','부산','대구','인천','광주','울산']
city.sort()
print(city)
print(' '.join(city))

['광주', '대구', '부산', '서울', '울산', '인천']
광주 대구 부산 서울 울산 인천

# 2절 . 튜블
 - 리스트와 유사하지만, 읽기 전용. 수정이 필요없는 데이터타입에서 사용 
 - 수정이 불가하므로 튜블에 데이터 추가, 수정 ,삭제 불가. 제공되는 함수도 많지 않음
 - ()이용해서 생성. tupple()

In [57]:
city = ('서울','부산','인천','대구','대전')
type(city)

tuple

In [58]:
'-'.join(city)

'서울-부산-인천-대구-대전'

In [63]:
l=['서울']# 요소가 하나 있는 리스트
print(type(l))
print(l)

<class 'list'>
['서울']

In [65]:
l=('서울')# 요소가 하나 있는 튜블(x)
print(type(l))
print(l)

<class 'str'>
서울

In [66]:
l=('서울',)# 요소가 하나 있는 튜블(o)
print(type(l))
print(l)

<class 'tuple'>
('서울',)

In [67]:
numbers= 1,2,3 # 여러개 값이 나열될 떄는 자동적으로 튜블로 처리
type(numbers)
numbers[0:5]=numbers[5:]

tuple

In [74]:
min(numbers),max(numbers),len(numbers)

(1, 3, 3)

In [75]:
numbers=1,2,1,2,3
numbers.count(2)

2

In [76]:
numbers.index(3) #3인덱스의 값을 반환

4

In [81]:
data=(0,1,2,3,4,(5,6))
print(data[5])
print(data[::-1])
print(data[-1:-5:-1])
print(data[5:9:2])#리스트와 같이 에러 발생하지 않음
#print(data.index(9))#에러 발생

(5, 6)
((5, 6), 4, 3, 2, 1, 0)
((5, 6), 4, 3, 2)
((5, 6),)

In [84]:
data=((100,2,3),(10,20,30))
max(data),min(data),len(data)

((100, 2, 3), (10, 20, 30), 2)

In [85]:
data+data

((100, 2, 3), (10, 20, 30), (100, 2, 3), (10, 20, 30))

In [88]:
data=('서울',2,True)
print(data*3)
del data

('서울', 2, True, '서울', 2, True, '서울', 2, True)

# 3절.딕션너리
    cf.자바에서의 hashMap
- 중괄호({})를 이용해서 딕셔너리 생성. 키(key)-값(value)의 쌍으로 구성된 자료구조
- 키는 유일한 값(중복허용안함). 키에 리스트는 사용 불가. 키는 튜블은 사용 가능
- 값은 중복가능. 모든 데이터 타입이 가능 
- 없는 키의 값을 참조하면 에러발생 
- 인덱스를 이용한 참조는 지원안함

In [90]:
dic = {'key1':'value',
       'key2':'value'}
print(type(dic))
print(len(dic))#데이터 구조의 요소의 갯수

<class 'dict'>
2

In [91]:
my_favorite = {'fruit':'apple','number':1,'sport':'golf'}
my_favorite

{'fruit': 'apple', 'number': 1, 'sport': 'golf'}

In [96]:
#my_favorite[0]#인덱스를 이용한 참조는 자원 안함! 
print(my_favorite.get('number'))
print(my_favorite['fruit'])
#print(my_favorite['people'])# 키목록에 없는 데이터 참조시 에러~ !

1
apple

In [97]:
my_favorite = {'fruit':'apple','number':1,'sport':'golf'}
my_favorite['fruit']='banana'
my_favorite

{'fruit': 'banana', 'number': 1, 'sport': 'golf'}

In [102]:
# 키 : 문자,숫자,튜플 .중복불가
# 값 : 모든 문자 타입 .중복가능
my_dict1={1:'Hello',2:'World',3:'Python'}
my_dict1

{1: 'Hello', 2: 'World', 3: 'Python'}

In [108]:
my_dict1['people']=['홍길동','홀길순']# my_dict1에 요소추가 
my_dict1['study']=['python','hadoop']#추가

#my_dict1.append({'people':['홍길동','홍길순']})
my_dict1['study']

['python', 'hadoop']

In [111]:
del my_dict1['study']
my_dict1

{1: 'Hello', 2: 'World', 3: 'Python', 'people': ['홍길동', '홀길순']}

In [112]:
my_dict2={'name':'Hong','name':'KilDong','age':30}
my_dict2

{'name': 'KilDong', 'age': 30}

In [113]:
# 키목록에 Trye와 1은 같은 키으로 간주. False와 0은 같은 키로 간주 
my_dict3={1:'Hello',True:'World',False:'Python',0:'Hadoop'}
my_dict3

{1: 'World', False: 'Hadoop'}

In [124]:
my_dic={'name':'홍길동','age':25,'tel':'010-9999-9999'}
my_list=['홍길동',25,'010-9999-9999']
my_tupple =('홍길동',25,'010-9999-9999')
for date in my_tubble:
    print(date,end='\t')
print()
for idx in range(len(my_list)):
    print("{}번쨰 데이터 {}".format(idx,my_tupple[idx],end='\t'))

홍길동	25	010-9999-9999
0번쨰 데이터 홍길동
1번쨰 데이터 25
2번쨰 데이터 010-9999-9999

In [126]:
my_dic={'name':'홍길동','age':25,'tel':'010-9999-9999'}
for data in my_dic:
    print(data,end='\t')

name	age	tel

In [127]:
my_dic.keys() #키목록

dict_keys(['name', 'age', 'tel'])

In [128]:
my_dic.values() #값들만

dict_values(['홍길동', 25, '010-9999-9999'])

In [129]:
my_dic.items()# 튜플로 이루어진(키,값)들

dict_items([('name', '홍길동'), ('age', 25), ('tel', '010-9999-9999')])

In [132]:
for key in my_dic:
    print(key,end='\t')

name	age	tel

In [133]:
for key in my_dic.keys():
    print(key,end='\t')

name	age	tel

In [137]:
for value in my_dic.values():
    print(value,end='\t')

홍길동	25	010-9999-9999

In [138]:
for item in my_dic.items():
    print(item,end='\t')

('name', '홍길동')	('age', 25)	('tel', '010-9999-9999')

In [139]:
for key,value in my_dic.items():
    print("{}은 {}.".format(key,value),end='\t')

name은 홍길동.	age은 25.	tel은 010-9999-9999.

**in 연산자** 키가 있는지 여부

In [142]:
my_favorite = {'fruit':'apple','number':1,'sport':'golf'}
'golf'in my_favorite

False

In [143]:
'sport'in my_favorite

True

In [148]:
my_favorite
# 할당
new_my_favorite = my_favorite
print('new_my_favorite : ', new_my_favorite)
print('my_favorite : ', my_favorite)

SyntaxError: invalid syntax (<ipython-input-148-d195ef297d41>, line 13)

In [149]:
my_favorite['number'] = '다 좋아'
print('new_my_favorite : ', new_my_favorite)
print('my_favorite : ', my_favorite)
print('new_my_favorite 주소 :', id(new_my_favorite))
print('my_favorite 주소 :', id(my_favorite))

new_my_favorite: {'fruit': 'apple', 'number': ' 좋습니다', 'sport': 'golf'}
my_favorite {'fruit': 'apple', 'number': ' 좋습니다', 'sport': 'golf'}
new_my_favorite 주소: 2429501193344
my_favorite 주소 2429501193344

new_my_favorite: {'fruit': 'apple', 'number': 1, 'sport': 'golf'}
my_favorite {'fruit': 'apple', 'number': 1, 'sport': 'golf'}

In [147]:
my_favorite
# 복제
new_my_favorite = my_favorite.copy()
print('new_my_favorite : ', new_my_favorite)
print('my_favorite : ', my_favorite)

new_my_favorite: {'fruit': 'apple', 'number': ' 좋습니다', 'sport': 'golf'}
my_favorite {'fruit': 'apple', 'number': ' 좋습니다', 'sport': 'golf'}
new_my_favorite 주소: 2429501193344
my_favorite 주소 2429501193344

In [ ]:
my_favorite['number'] = 9
print('new_my_favorite : ', new_my_favorite)
print('my_favorite : ', my_favorite)
print('new_my_favorite 주소 :', id(new_my_favorite))
print('my_favorite 주소 :', id(my_favorite))

# 4절. 셋
- 중복 허용하지 않는 집합(순서x)
- 중괄호({})나 set()함수를 이용해서 셋 생성
    ; set(딕셔너리타입의 변수) 딕셔너리변수의 키만 셋에 추가
- 집합연산자 (&:교집합 , |:합집합, -:차집합)

In [184]:
fruits = {'apple','orange','banana','banana'}
fruits

{'apple', 'banana', 'orange'}

In [157]:
s1=set((1,2,3,1))
s1

{1, 2, 3}

In [158]:
s1.add(4)
s1.add(1)
s1

{1, 2, 3, 4}

In [161]:
s1.add((5,6,7,8,9))
s1

{(5, 6, 7, 8, 9), 1, 2, 3, 4, 5}

In [163]:
s1.add([10,11]) # add함수는 list안수를 받지 않습니다.

TypeError: unhashable type: 'list'

In [164]:
s1.add({'name':'kil'}) #add함수는 dictonary 인수 불가

TypeError: unhashable type: 'dict'

In [167]:
s1 = {1,2,3,4}
s1.update([5,6,7,8,9])
s1

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [168]:
s1.update({'name':'kildong'}) #딕셔너리는 키값만 추가 
s1

{1, 2, 3, 4, 5, 6, 7, 8, 9, 'name'}

In [169]:
s1.remove('name') # 특정 요소 삭제(없는 데이터일 경우 에러 발생)
s1

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [170]:
s1.remove('name')

KeyError: 'name'

In [171]:
s1={0,False,True,1} #False와 0 , True와 1을 같은 값으로 간자 
s1

{0, True}

In [172]:
s1={1,2,3,4,5,6}
s2={4,5,6,7,8,9}
s1,s2

({1, 2, 3, 4, 5, 6}, {4, 5, 6, 7, 8, 9})

In [174]:
#합집합
print('합집합:',s1|s2)
#교집합
print('교집합:',s1&s2)
#차집합
print('차집합:',s1-s2)

합집합: {1, 2, 3, 4, 5, 6, 7, 8, 9}
교집합: {4, 5, 6}
차집합: {1, 2, 3}

In [175]:
names = {'kildong','kilja','sunja'}
for name in names:
    print(name,end='\t')

sunja	kilja	kildong

# 5절 . enmerate
- 반복자 또는 순서 객체로 반복문을 처리할 떄 인덱스 처리를 해결

In [176]:
list(enumerate(names))

[(0, 'sunja'), (1, 'kilja'), (2, 'kildong')]

In [177]:
for idx,name in enumerate(names):
    print('{}번쨰 이름 : {}'.format(idx,name))

0번쨰 이름 : sunja
1번쨰 이름 : kilja
2번쨰 이름 : kildong

In [179]:
L=['길자','순자','길동']
for i in range(len(L)):
    print("{}번쨰:{}".format(i,L[i]))

0번쨰:길자
1번쨰:순자
2번쨰:길동

In [180]:
for idx, name in enumerate(L):
    print("{}번쨰:{}".format(idx,name))

0번쨰:길자
1번쨰:순자
2번쨰:길동

In [276]:
dic = {"name":"홍길동","age":35, "address":"마포"}
list(enumerate(dic.items()))

[(0, ('name', '홍길동')), (1, ('age', 35)), (2, ('address', '마포'))]

In [279]:
for idx, (key, value) in enumerate(dic.items()):
    print("{}번째 키는 {}, 값은 {}".format(idx, key, value))

0번째 키는 name, 값은 홍길동
1번째 키는 age, 값은 35
2번째 키는 address, 값은 마포

# 연습문제

In [264]:
numbers=[1,2,3,4,5,6,7,8,9,10]

In [265]:
#1
numbers.append(100)
numbers

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 100]

In [266]:
#2
data=[200,300,400,500]
numbers.extend(data)
numbers

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 100, 200, 300, 400, 500]

In [267]:
#3
numbers[0:5]

[1, 2, 3, 4, 5]

In [268]:
#4
numbers[::2]

[1, 3, 5, 7, 9, 100, 300, 500]

In [269]:
#5
numbers[::2]=[0]*len(numbers[::2])
numbers

ValueError: attempt to assign sequence of size 9 to extended slice of size 8

In [250]:
#6
numbers.sort()
numbers[::-1]

[400, 200, 10, 8, 6, 4, 2, 0, 0, 0, 0, 0, 0, 0, 0]

In [251]:
member_info={"name":"홍길동","age":"20","address":"서울시 마포구","score":90}
#7
member_info['address']
member_info.get('address')

'서울시 마포구'

In [252]:
#8
member.pop('score')
member_info['score']
del member_info['score']
member_info

{'name': '홍길동', 'age': '20', 'address': '서울시 마포구'}

In [253]:
#9
member_info['address']='서울시 서대문구'
member_info

{'name': '홍길동', 'age': '20', 'address': '서울시 서대문구'}

In [254]:
#10
list(member_info.items())

[('name', '홍길동'), ('age', '20'), ('address', '서울시 서대문구')]

In [243]:
my_dit={"a":10,"b":20,"c":30}
list(my_dit.items())[0][1]

10